/* import normalize, for consistent styles across browsers */
@import url("/assets/css/normalize.css");
@import url("/assets/css/fonts.css");
@import url("/assets//css/utility.css");

:root {
	--color-background: #3c3b3d;
	--app-background: #1A1B1E;
	--color-black: #161618;
	--color-light-1: #908d92;
	--color-light-2: #b9b6bc;
	--color-text: #e3dfe7;
	--color-bright: #ffffff;
	--color-dark: #1f1f1f;
}

.bg-app {
	background-color: var(--app-background);
}

.bg-black {
	background-color: var(--color-black);
}

.bg-dark {
	background-color: var(--color-dark);
}

video {
	max-height: 75%;
	max-width: 75%;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: "Fira Code", monospace;
}

p {
	font-size: 1.25em;
	max-width: 80ch;
	margin: auto;
}

img {
	/* prevent overflow on smaller viewports */
	max-width: 100%;
}

.full-height {
	height: 100dvh;
	/* ensure padding is included in height calculation */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3em;
}

.container {
	display: flex;
	align-items: center;
	padding: 7em;
	box-sizing: border-box;
	min-height: 30em;
}

@media screen and (max-width: 770px) {
	div .container {
		flex-direction: column;
		gap: 1.5em;
		padding: 2em;
	}

	div .sm-column-reverse {
		flex-direction: column-reverse;
	}
}

.intro {
	display: flex;
	flex-direction: column;
}

.point {
	padding: 2em;
	background-color: var(--color-background);
}
