
body {
	background-color: #3c3b3d;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

.full-height {
	height: 100dvh;
	/* ensure padding is included in height calculation */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3em;
}

.futuristic-font {
	font-family: "Michroma", monospace;
}

.intro {
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0;
}
