@import url("/assets/css/fonts.css");
@import url("/assets/css/utility.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

video {
	max-height: 85%;
	max-width: 85%;
}

a {
	color: var(--color-highlight);
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p {
	max-width: 80ch;
	line-height: 1.50em;
	font-size: 1.15em;
}

ul {
	font-size: 1.15em;
}

li {
	margin-bottom: 0.75em;
}

img {
	/* prevent overflow on smaller viewports */
	max-width: 100%;
}

figure {
	margin: 0;
	padding: 0;
}

.toc-list {
	list-style: square;
	padding-inline-start: 1.5em;
}

.toc-list-item {
	margin-block: 0.2em;
}

/* nested lists */
.toc-list-item > ul {
	font-size: 1em;
	list-style: circle;
}

.article {
	padding: 2em;
	margin: auto;
	max-width: 80ch;
}

.article-image {
	text-align: center;
	color: var(--color-caption);
	margin-bottom: 1.5em;
}

.full-height {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3em;
}

.video-container {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	padding: 7em;
	min-height: 30em;
	gap: 3em;
	justify-content: space-evenly;
	background-color: var(--color-dark);
}

.h-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em;
	min-height: 18em;
	justify-content: space-evenly;
	background-color: var(--color-dark);
}

.h-container:nth-of-type(odd) {
	background-color: var(--color-black);
}

.container:nth-of-type(odd) {
	flex-direction: row-reverse;
	background-color: var(--color-black);
}

@media screen and (max-width: 770px) {
	/* increase specificity to rank over nth-of-type */
	div .container.container {
		flex-direction: column;
		gap: 1.5em;
		padding: 1.5em;
	}

	.downloads {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding: 2em;
	}
}

.page-wrapper {
	padding: 2em;
}

.downloads {
	display: flex;
	gap: 2em;
	padding: 2em;
}

.download-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.download-links {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.download-button::before {
	font-family: "tabler-icons";
	font-size: 1.5em;
	content: "\ea9d";
}

.download-button:hover {
	background-color: var(--color-alt-highlight);
	border: #c7f7eb 2.5px solid;
}

.download-button {
	display: flex;
	gap: 0.5em;
	align-items: center;
	box-sizing: border-box;
	
	font-family: inherit;
	
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	background-color: var(--color-highlight);
	/* to prevent size changes on hover */
	border: #a6b0d4 2.5px solid;
	color: black;
	
	cursor: pointer;
	
	/* border-radius greater than height gives pill shape */
	border-radius: 100px;
}