:root {
  --color-background: #3c3b3d;
  --color-darker-background: #2c2b2c;
  --app-background: #1a1b1e;
  --color-highlight: #bbc4ec;
  --color-alt-highlight: #a7e7d7;
  --color-black: #161618;
  --color-text: #e7e7e7;
  --color-caption: #a7a7a7;
  --color-bright: #ffffff;
  --color-dark: #1f1f1f;
}

/* the background tags are used,
 they should override all other background colors */
.bg-app {
  background-color: var(--app-background) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-dark {
  background-color: var(--color-dark) !important;
}
