@import url("animations.css");
@import url("colors.css");

.m-auto {
	margin: auto;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-2 {
	margin-bottom: 2em;
}

.mb-3 {
	margin-bottom: 3em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-5 {
	padding: 5em;
}

.p-7 {
	padding: 7em;
}

.gap-1 {
	gap: 1em;
}

.gap-2 {
	gap: 2em;
}

.gap-3 {
	gap: 3em;
}

.space-evenly {
	justify-content: space-evenly;
}

.space-around {
	justify-content: space-around;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.bolder {
	font-weight: 900;
}

.futuristic-font {
	font-family: "Michroma", monospace;
}

.small-icon {
	align-self: center;
	font-size: 4em;
}

.large-icon {
	font-size: 8em;
}

.xl-icon {
	font-size: 12em;
}

.title {
	font-size: 5em;
	margin: 0;
}

.small-title {
	font-size: 3em;
}

.centered {
	text-align: center;
}

.centered-items {
	justify-content: center;
	align-items: center;
}

.pipe {
	height: 12rem;
	width: 0.125rem;
	background-color: var(--color-text);
	opacity: 0.25;
}

.shadow {
	/* set position and z-index,
	 otherwise the div below it will render
	 on top of the shadow */
	position: relative;
	z-index: 10;
	-webkit-box-shadow: 10px 24px 32px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 24px 32px 0px rgba(0,0,0,0.38);
	box-shadow: 10px 24px 32px 0px rgba(0,0,0,0.38);
}

.highlight {
	color: var(--color-bright);
}

.unstyled-button {
	background: inherit;
	border: inherit;
	color: inherit;
	cursor: pointer;
}

@media screen and (max-width: 770px) {
	div .xl-icon {
		font-size: 7em;
	}

	div .pipe {
		height: 7em;
	}
}

.text-block {
	font-family: 'Courier New', Courier, monospace;
	background: rgb(255, 255, 255, 0.1);
	padding: 0.15em;
	color: rgb(252, 252, 252);
}